@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Stylish&display=swap');


body {
    /* background-color: #f6f6f6; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Stylish";
    /* min-height: 100vh; */
    margin: 0px;
  }
