$yong-white-200: #fafafa;
$yong-gray200: #454545;
$yong-gray100: #9d9d9f;
$yong-gray: #e8e8e8;
#root {
  .mainfeed {
    padding-top: 54px;
    background-color: $yong-white-200;
    min-height: 100vh;
    .wrapper {
      width: 1000px;
      margin: 0 auto;
      padding-top: 30px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .feed-list {
        width: 729px;
        .write-feed {
          display: flex;
          align-items: center;
          padding: 20px 24px;
          border: 1px solid $yong-gray;

          .profile-image {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: $yong-gray;
            margin-right: 12px;
          }
          .inp {
            flex: 1;
            input {
              width: 100%;
              font-size: 12px;
              color: $yong-gray200;
              border: none;
              &::placeholder {
                color: $yong-gray;
              }
            }
          }
          .get-image {
            label {
              width: 30px;
              display: flex;
              align-items: center;
            }
            input {
              display: none;
            }
          }
        }

        .feed {
          border: 1px solid $yong-gray;
          background-color: white;
          margin-top: 25px;
          padding: 20px 24px;

          .top {
            display: flex;
            align-items: center;
            .profile-image {
              width: 40px;
              height: 40px;
              border-radius: 40px;
              background-color: $yong-gray;
              margin-right: 12px;
            }
            .profile-desc {
              .nicknaeme {
                font-size: 14px;
                color: $yong-gray200;
              }
              .timestamp {
                font-size: 10px;
                color: $yong-gray200;
                opacity: 0.4;
                margin-top: 2px;
              }
            }
          }
          .contents {
            margin-top: 48px;
            font-size: 12px;
            color: $yong-gray200;
            line-height: 1.8;
            .image {
              width: 100%;
              height: 309px;
              background-color: $yong-gray;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              margin-top: 25px;
            }
          }
          .bottom {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 25px;
            .like,
            .comment {
              display: flex;
              align-items: center;
              .asset {
                width: 32px;
                display: flex;
                align-items: center;
                margin-right: 12px;
              }
              .count {
                font-size: 16px;
                color: $yong-gray;
              }
            }
            .like {
              margin-right: 24px;
            }
          }
        }
      }

      .friend-list {
        position: sticky;
        padding: 20px 16px;
        width: 246px;
        border: 1px solid $yong-gray;
        background-color: white;
        top: 84px;
        .my-profile {
          display: flex;
          align-items: center;
          .profile-image {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background-color: $yong-gray;
            margin-right: 12px;
          }
          .nickname {
            font-size: 12px;
            color: $yong-gray200;
          }
        }
        .my-friends {
          margin-top: 14px;
          & > .title {
            font-size: 10px;
            color: $yong-gray200;
          }
          .friend-list-wrapper {
            margin-top: 14p;
            display: grid;
            row-gap: 8px;

            .friend {
              display: flex;
              align-items: center;
              .profile-image {
                width: 40px;
                height: 40px;
                border-radius: 10px;
                background-color: $yong-gray;
                margin-right: 12px;
              }
              .nickname {
                font-size: 12px;
                color: $yong-gray200;
              }
            }
          }
        }
      }
    }
  }
}
