#__NEXT .mainfeed {
  padding-top: 54px;
  background-color: #fafafa;
  min-height: 100vh;
}

#__NEXT .mainfeed .wrapper {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#__NEXT .mainfeed .wrapper .feed-list {
  width: 729px;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 24px;
  border: 1px solid #e8e8e8;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #e8e8e8;
  margin-right: 12px;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .inp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .inp input {
  width: 100%;
  font-size: 12px;
  color: #454545;
  border: none;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .inp input::-webkit-input-placeholder {
  color: #e8e8e8;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .inp input:-ms-input-placeholder {
  color: #e8e8e8;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .inp input::-ms-input-placeholder {
  color: #e8e8e8;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .inp input::placeholder {
  color: #e8e8e8;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .get-image label {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#__NEXT .mainfeed .wrapper .feed-list .write-feed .get-image input {
  display: none;
}

#__NEXT .mainfeed .wrapper .feed-list .feed {
  border: 1px solid #e8e8e8;
  background-color: white;
  margin-top: 25px;
  padding: 20px 24px;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .top .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #e8e8e8;
  margin-right: 12px;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .top .profile-desc .nicknaeme {
  font-size: 14px;
  color: #454545;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .top .profile-desc .timestamp {
  font-size: 10px;
  color: #454545;
  opacity: 0.4;
  margin-top: 2px;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .contents {
  margin-top: 48px;
  font-size: 12px;
  color: #454545;
  line-height: 1.8;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .contents .image {
  width: 100%;
  height: 309px;
  background-color: #e8e8e8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 25px;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 25px;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .bottom .like,
#__NEXT .mainfeed .wrapper .feed-list .feed .bottom .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .bottom .like .asset,
#__NEXT .mainfeed .wrapper .feed-list .feed .bottom .comment .asset {
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .bottom .like .count,
#__NEXT .mainfeed .wrapper .feed-list .feed .bottom .comment .count {
  font-size: 16px;
  color: #e8e8e8;
}

#__NEXT .mainfeed .wrapper .feed-list .feed .bottom .like {
  margin-right: 24px;
}

#__NEXT .mainfeed .wrapper .friend-list {
  position: -webkit-sticky;
  position: sticky;
  padding: 20px 16px;
  width: 246px;
  border: 1px solid #e8e8e8;
  background-color: white;
  top: 84px;
}

#__NEXT .mainfeed .wrapper .friend-list .my-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#__NEXT .mainfeed .wrapper .friend-list .my-profile .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #e8e8e8;
  margin-right: 12px;
}

#__NEXT .mainfeed .wrapper .friend-list .my-profile .nickname {
  font-size: 12px;
  color: #454545;
}

#__NEXT .mainfeed .wrapper .friend-list .my-friends {
  margin-top: 14px;
}

#__NEXT .mainfeed .wrapper .friend-list .my-friends > .title {
  font-size: 10px;
  color: #454545;
}

#__NEXT .mainfeed .wrapper .friend-list .my-friends .friend-list-wrapper {
  margin-top: 14p;
  display: -ms-grid;
  display: grid;
  row-gap: 8px;
}

#__NEXT .mainfeed .wrapper .friend-list .my-friends .friend-list-wrapper .friend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#__NEXT .mainfeed .wrapper .friend-list .my-friends .friend-list-wrapper .friend .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #e8e8e8;
  margin-right: 12px;
}

#__NEXT .mainfeed .wrapper .friend-list .my-friends .friend-list-wrapper .friend .nickname {
  font-size: 12px;
  color: #454545;
}
/*# sourceMappingURL=index.css.map */