.signin_row {
  height: 100vh;
}

.signin_title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #642828;
  text-transform: uppercase;
  margin-top: 10px;
}

.signin_subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.signin_underline {
  width: 350px;
  height: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  background: linear-gradient(to right, rgba(248, 7, 7, 0.979), #ddb49b);
}

.signin_contents {
  margin-top: 40px;
  background-color: #f3f7f8;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  
}

.signin_bg {
  width: 50px;
  /* margin-left: auto; */
  justify-content: space-between;
  align-items: center;
  height: 50%;
  margin-left : 230px;
  border-radius: 100%;
  overflow: hidden;

}

.email_title {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.password_title {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  /* padding-left: 40px; */
}

.required {
  color: #971931;
}

.input_area {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.input {
  width: 100%;
  height: 30px;
  border-radius: 1px;
  border-width: 3px;
  font-family: Roboto;
}

.button_area {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
}

.button {
  border-color: #ddb49b;
  background-color: #971931;
  text-transform: uppercase;
  height: 30px;
  border-radius: 1px;
  border-width: 2px;
  color: white;
  width: 100%;
  border-radius: 5%;
  overflow: hidden;
}

.button:hover {
  background-color: #ddb49b;
  color: white;
}

.div_bottom {
  position: relative;
  width: 360px;
  height: 48px;
  margin-left:70px;
  background: #f2f2f2;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  transition: all 0.3s ease;
  text-align: center;
}

.div_kakao{
  margin-top: 10px;
  /* padding-top: 1px; */
  width: 100px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}